/.vs/_shLib/v16/.suo
/_shLib/bin/Debug/netcoreapp3.1/_shLib.deps.json
/_shLib/bin/Debug/netcoreapp3.1/_shLib.dll
/_shLib/bin/Debug/netcoreapp3.1/_shLib.exe
/_shLib/bin/Debug/netcoreapp3.1/_shLib.pdb
/_shLib/bin/Debug/netcoreapp3.1/_shLib.runtimeconfig.dev.json
/_shLib/bin/Debug/netcoreapp3.1/_shLib.runtimeconfig.json
/_shLib/bin/Debug/netcoreapp3.1/_shLib.Views.dll
/_shLib/bin/Debug/netcoreapp3.1/_shLib.Views.pdb
/_shLib/bin/Debug/netcoreapp3.1/appsettings.Development.json
/_shLib/bin/Debug/netcoreapp3.1/appsettings.json
/_shLib/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/_shLib/obj/Debug/netcoreapp3.1/_shLib.assets.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.csproj.CopyComplete
/_shLib/obj/Debug/netcoreapp3.1/_shLib.csproj.CoreCompileInputs.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.csproj.FileListAbsolute.txt
/_shLib/obj/Debug/netcoreapp3.1/_shLib.dll
/_shLib/obj/Debug/netcoreapp3.1/_shLib.exe
/_shLib/obj/Debug/netcoreapp3.1/_shLib.genruntimeconfig.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.MvcApplicationPartsAssemblyInfo.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.pdb
/_shLib/obj/Debug/netcoreapp3.1/_shLib.RazorCoreGenerate.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.RazorTargetAssemblyInfo.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.RazorTargetAssemblyInfo.cs
/_shLib/obj/Debug/netcoreapp3.1/_shLib.TagHelpers.input.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.TagHelpers.output.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.Views.dll
/_shLib/obj/Debug/netcoreapp3.1/_shLib.Views.pdb
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
/_shLib/obj/Debug/netcoreapp3.1/staticwebassets/_shLib.StaticWebAssets.Manifest.cache
/_shLib/obj/Debug/netcoreapp3.1/staticwebassets/_shLib.StaticWebAssets.xml
/_shLib/obj/project.nuget.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.AssemblyInfo.cs
/_shLib/obj/Debug/netcoreapp3.1/_shLib.AssemblyInfoInputs.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.assets.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.csproj.FileListAbsolute.txt
/_shLib/obj/Debug/netcoreapp3.1/_shLib.RazorAssemblyInfo.cache
/_shLib/obj/Debug/netcoreapp3.1/_shLib.RazorAssemblyInfo.cs
